<div class="container mt-3">
  <h1 class="mb-3">Bills</h1>
  <hr>
  <div class="row">
    <div class="mr-2">
      <p>Start date:</p>
    </div>
    <div class="form-group mr-2">
      <input type="text"
             class="form-control"
             #dp="bsDatepicker"
             [(ngModel)]="firstDay"
             bsDatepicker
             [bsValue]="firstDay">
    </div>
    <div class="mr-2">
      <p>End date:</p>
    </div>
    <div class="form-group mr-2">
      <input type="text"
             class="form-control"
             #dp="bsDatepicker"
             [(ngModel)]="lastDay"
             bsDatepicker
             [bsValue]="lastDay">
    </div>
    <div>
      <button class="btn btn-primary" (click)="load()">Filter</button>
    </div>
  </div>
  <button type="button" class="btn btn-primary mb-3" [routerLink]="['/bills/new']">Add new</button>
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-6" *ngFor="let bill of bills">
      <app-bill-card [bill]="bill" (billRemoved)="billRemoved($event)"></app-bill-card>
    </div>
  </div>
 
</div>


