<div class="container mt-5" *ngIf="!loggedOut()">
  <div class="text-center">
    <h1>Join us and start to control your finances!</h1>
    <div class="text-center">
      <button type="button" class="btn btn-primary btn-lg mt-3" [routerLink]="['/register']">Register</button>
    </div>
  </div>
  <div class="text-center mt-3">
    <h3>Have account already? Just log in!</h3>
    <button type="button" class="btn btn-secondary btn-lg mt-3" [routerLink]="['/login']">Login</button>
  </div>
</div>

<div class="container mt-5" *ngIf="loggedOut()">
  <div class="text-center">
    <h1>Hello!</h1>
    <h3>If you want to add new outgoing, go to Outgoings tab. The same for incomes.</h3>
    <h3>For summary go to charts.</h3>
  </div>
</div>